n8n/auto-post-doble3d.json
{
  "id": "Doble3DAutoPost1",
  "name": "Auto Post Doble3D (SEO/AEO martes y jueves)",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-trigger00001",
      "name": "Martes y Jueves 11:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 2,4"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-elegirtema01",
      "name": "Elegir tema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "parameters": {
        "jsCode": "// Temas rotativos: se elige según la semana ISO + día (martes/jueves) para no repetir seguido.\nconst temas = [\n  { label: 'Capacitación con realidad virtual en minería (Chile)', query: 'capacitacion realidad virtual mineria' },\n  { label: 'Realidad virtual y XR en Chile', query: 'realidad virtual Chile empresas' },\n  { label: 'Videos 3D y simulación para minería e industria', query: 'simulacion 3D animacion industria mineria' },\n  { label: 'Realidad aumentada en la industria', query: 'realidad aumentada industria mantenimiento' },\n  { label: 'Hardware XR: visores, chips y lentes inteligentes', query: 'visores realidad virtual chip XR' },\n  { label: 'IA aplicada a XR y entrenamiento industrial', query: 'inteligencia artificial realidad virtual entrenamiento' },\n  { label: 'Gemelos digitales en minería e industria', query: 'gemelo digital mineria industria' },\n  { label: 'Seguridad minera y nuevas tecnologías', query: 'seguridad minera tecnologia capacitacion' },\n];\nconst now = new Date();\nconst start = new Date(Date.UTC(now.getUTCFullYear(), 0, 1));\nconst week = Math.floor(((now - start) / 86400000 + start.getUTCDay() + 1) / 7);\nconst slot = now.getDay() === 4 ? 1 : 0; // jueves=1, cualquier otro día=0\nconst tema = temas[(week * 2 + slot) % temas.length];\nconst rssUrl = 'https://www.bing.com/news/search?q=' + encodeURIComponent(tema.query) + '&format=RSS&mkt=es-CL';\nreturn [{ json: { topic: tema.label, tema: tema.label, query: tema.query, rssUrl } }];"
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-rssnoticias1",
      "name": "Noticias RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        0
      ],
      "parameters": {
        "url": "={{ $json.rssUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) doble3d-autopost"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-preppromp001",
      "name": "Preparar prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "parameters": {
        "jsCode": "// Parsea el RSS de Bing News y arma la petición para DeepSeek.\nconst xml = $json.data || '';\nconst decode = (s) => (s || '')\n  .replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1')\n  .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"').replace(/&#39;|&apos;/g, \"'\").trim();\n\nconst todas = [];\nconst items = xml.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\nfor (const it of items) {\n  const title = decode((it.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1]);\n  let link = decode((it.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1]);\n  const pub = decode((it.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/) || [])[1]);\n  // Bing envuelve la URL real en apiclick.aspx?...url=<encoded>\n  const m = link.match(/[?&]url=([^&]+)/);\n  if (m) link = decodeURIComponent(m[1]);\n  if (!title || !link || /bing\\.com/i.test(link)) continue;\n  const d = new Date(pub);\n  let fuente = '';\n  try { fuente = new URL(link).hostname.replace(/^www\\./, ''); } catch (e) {}\n  if (!todas.some(n => n.link === link)) todas.push({ title, link, fuente, ts: isNaN(d) ? 0 : d.getTime(), fecha: isNaN(d) ? '' : d.toISOString().slice(0, 10) });\n}\ntodas.sort((x, y) => y.ts - x.ts);\n// Solo noticias de los últimos 7 días. Si no hay ninguna, el prompt indica escribir un artículo evergreen sin citas.\nconst noticias = todas.filter(n => n.ts && (Date.now() - n.ts) <= 7 * 86400000).slice(0, 8);\n\nconst fecha = new Date().toLocaleDateString('es-CL', { year: 'numeric', month: 'long', day: 'numeric' });\nconst listado = noticias.length\n  ? noticias.map((n, i) => (i + 1) + '. ' + n.title + ' | ' + n.fuente + ' | ' + n.link + (n.fecha ? ' | ' + n.fecha : '')).join('\\n')\n  : '(No hay fuentes verificables disponibles hoy: no inventes URLs. La ejecución debe detenerse si no puede incluir al menos una fuente HTTPS real.)';\n\nconst system = [\n'Eres el redactor senior de contenidos SEO del blog de Doble 3D Studio (doble3d.cl), estudio chileno especializado en: capacitación con realidad virtual para minería e industrias de alto riesgo, videos y animación 3D técnica, realidad aumentada, aplicaciones WebGL, y CORE (plataforma propia de gestión y métricas de entrenamiento inmersivo, integrable a los LMS del cliente). Clientes destacados: Codelco, Minera Centinela, FlyWithUs y FLS (FLSmidth). Diferenciales: desarrollo a medida en Chile, integración con las plataformas que el cliente ya usa (LMS/SCORM) y soporte postventa perpetuo.',\n'',\n'Escribes en español chileno neutro y profesional. Cuando hablas de Doble 3D usas primera persona plural (\"En Doble 3D creemos...\").',\n'',\n'ENLACES INTERNOS disponibles (integra 2 o 3 de forma natural y contextual dentro del cuerpo, con anchor text descriptivo):',\n'- https://doble3d.cl/servicios/realidad-virtual/ (capacitación VR industrial/minería)',\n'- https://doble3d.cl/servicios/animacion-3d/ (videos y animación 3D técnica)',\n'- https://doble3d.cl/servicios/core/ (plataforma CORE)',\n'- https://doble3d.cl/servicios/gamificacion-scorm/ (apps gamificadas SCORM)',\n'- https://doble3d.cl/app-webgl/ (aplicaciones WebGL)',\n'',\n'ESTRUCTURA OBLIGATORIA de content (NO incluyas H1, el título va aparte; NO incluyas los bloques de cierre, se agregan automáticamente):',\n'1) Un párrafo inicial de 60 a 90 palabras que resuma la noticia con datos concretos y contenga la focus keyword de forma natural (respuesta directa, optimizada para motores de respuesta/AEO).',\n'2) De 3 a 5 secciones <h2> (al menos dos formuladas como pregunta), con párrafos <p> de 2 a 4 oraciones. Cita cada medio con <a href=\"URL\" target=\"_blank\" rel=\"noopener\">nombre del medio</a>. USA SOLO las URLs de la lista de noticias entregada; está PROHIBIDO inventar URLs externas.',\n'3) Una sección que conecte la noticia con el trabajo de Doble 3D en minería/industria chilena (aporte de valor, sin venta dura).',\n'4) Al final: <h2>Preguntas frecuentes</h2> con exactamente 4 bloques de <h3>(pregunta)</h3> seguido de <p>(respuesta de 40 a 60 palabras, autocontenida, con entidades y cifras)</p>. Las mismas 4 preguntas/respuestas van en el array faq.',\n'',\n'REGLAS SEO (Yoast): focus_keyword long-tail en minúsculas y sin tildes (ej: \"capacitacion realidad virtual mineria\"); la keyword aparece en el primer párrafo, en al menos un H2 y en el slug; meta_title de máximo 60 caracteres comenzando con la keyword o muy cerca del inicio; meta_description de 120 a 155 caracteres con la keyword y un llamado a la acción; slug corto de 3 a 6 palabras; excerpt de 1 a 2 oraciones. Artículo de 800 a 1200 palabras.',\n'',\n'REGLAS AEO/LLMs: respuestas directas y autocontenidas, cifras y datos concretos, nombres completos de empresas y tecnologías, lenguaje declarativo y verificable.',\n'',\n'RESPONDE ÚNICAMENTE un objeto JSON válido con estas claves exactas:',\n'{',\n'  \"titulo\": \"máx 65 caracteres, atractivo, incluye la keyword o parte de ella\",',\n'  \"titulo_imagen\": \"título visual breve, máx 65 caracteres\",',\n'  \"subtitulo_imagen\": \"máx 60 caracteres, complementa al título sin repetirlo\",',\n'  \"tag_top\": \"etiqueta de categoría para la imagen, máx 30 caracteres, MAYÚSCULAS, ej: CAPACITACIÓN INMERSIVA INDUSTRIAL\",',\n'  \"tag_1\": \"primera entidad clave de la noticia, máx 16 caracteres, ej: CODELCO o QUALCOMM\",',\n'  \"tag_2\": \"segunda entidad o tecnología clave, máx 16 caracteres, ej: AULA 4.0 o 48 TOPS\",',\n'  \"slug\": \"en-minusculas-con-guiones\",',\n'  \"meta_title\": \"máx 60 caracteres\",',\n'  \"meta_description\": \"120 a 155 caracteres\",',\n'  \"focus_keyword\": \"keyword long-tail\",',\n'  \"excerpt\": \"1-2 oraciones\",',\n'  \"categoria\": \"UNA de: Realidad Virtual en minería | Realidad Virtual | Videos 3D Minería | Realidad Mixta | Inteligencia Artificial | Innovación | Tecnología | WebGL en minería\",',\n'  \"tags\": [\"3 a 5 tags en español\"],',\n'  \"fuentes\": [{\"titulo\":\"Nombre de la fuente\",\"url\":\"https://example.org/documento\",\"fecha\":\"2026-07-01\",\"medio\":\"Organización responsable\"}],',\n'  \"content\": \"el cuerpo HTML según la estructura\",',\n'  \"faq\": [{\"q\": \"pregunta\", \"a\": \"respuesta en texto plano\"}] // exactamente 4',\n'}'\n].join('\\n');\n\nconst user = 'Fecha de hoy: ' + fecha + '.\\nTema del día: ' + $('Elegir tema').item.json.tema + '.\\n\\nNoticias recientes encontradas (elige la más relevante para el tema y el negocio de Doble 3D; puedes apoyarte en 2 o 3 relacionadas como contexto secundario):\\n\\n' + listado + '\\n\\nEscribe el artículo siguiendo todas las reglas y responde solo el JSON.';\n\nreturn [{ json: {\n  noticiasEncontradas: noticias.length,\n  body: {\n    model: 'deepseek-v4-pro',\n    messages: [ { role: 'system', content: system }, { role: 'user', content: user } ],\n    response_format: { type: 'json_object' },\n    temperature: 0.7,\n    max_tokens: 12000,\n    thinking: { type: 'disabled' },\n  },\n} }];"
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-deepseek0001",
      "name": "DeepSeek (redactar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OPENAI_API_KEY_REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-ensamblar001",
      "name": "Ensamblar post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        180
      ],
      "parameters": {
        "jsCode": "// Ensambla únicamente un artículo que ya superó ambas validaciones.\nconst STATUS = 'draft';\nconst WP = 'https://doble3d.cl/wp-json/wp/v2';\nconst AUTH = { Authorization: 'Basic WORDPRESS_APP_PASSWORD_REDACTED' };\nconst a = $json.article;\nif (!a) throw new Error('MISSING_VALIDATED_ARTICLE');\n\nconst CATS = { 'realidad virtual en minería': 14, 'realidad virtual en mineria': 14, 'realidad virtual': 39, 'videos 3d minería': 1, 'videos 3d mineria': 1, 'realidad mixta': 15, 'inteligencia artificial': 32, 'innovación': 61, 'innovacion': 61, 'tecnología': 52, 'tecnologia': 52, 'webgl en minería': 17, 'webgl en mineria': 17 };\nconst catId = CATS[(a.categoria || '').toLowerCase().trim()] || 39;\n\n// Resolver tags: buscar cada uno en WP, crear los que no existan.\nconst tagIds = [];\nfor (const nombre of (a.tags || []).slice(0, 5)) {\n  const name = String(nombre).trim();\n  if (!name) continue;\n  try {\n    const found = await this.helpers.httpRequest({ method: 'GET', url: WP + '/tags', qs: { search: name, per_page: 10 }, headers: AUTH, json: true });\n    const exact = (found || []).find(t => t.name.toLowerCase() === name.toLowerCase());\n    if (exact) { tagIds.push(exact.id); continue; }\n    const created = await this.helpers.httpRequest({ method: 'POST', url: WP + '/tags', body: { name }, headers: AUTH, json: true });\n    if (created && created.id) tagIds.push(created.id);\n  } catch (e) { /* un tag fallido no detiene la publicación */ }\n}\n\n// Schema JSON-LD FAQPage (AEO) a partir del array faq.\nconst clean = (s) => String(s || '').replace(/<[^>]*>/g, '').trim();\nconst faqLd = {\n  '@context': 'https://schema.org',\n  '@type': 'FAQPage',\n  mainEntity: a.faq.slice(0, 6).map(f => ({\n    '@type': 'Question', name: clean(f.q),\n    acceptedAnswer: { '@type': 'Answer', text: clean(f.a) },\n  })),\n};\n\n// Bloques fijos de cierre (enlaces internos + CTA), como en los templates.\nconst bloqueCierre = [\n'<h2>Para profundizar en capacitación VR para minería</h2>',\n'<ul>',\n'<li><a href=\"https://doble3d.cl/servicios/realidad-virtual/\">Realidad virtual industrial para entrenamiento en minería</a></li>',\n'<li><a href=\"https://doble3d.cl/servicios/animacion-3d/\">Animación 3D técnica para procesos industriales</a></li>',\n'<li><a href=\"https://doble3d.cl/servicios/gamificacion-scorm/\">Apps gamificadas con SCORM para entrenamiento industrial</a></li>',\n'</ul>',\n'<p>En Doble 3D desarrollamos <a href=\"https://doble3d.cl/servicios/realidad-virtual/\">capacitación en realidad virtual</a> para faenas mineras tier-1 como Codelco, Minera Centinela y FlyWithUs, y <a href=\"https://doble3d.cl/servicios/animacion-3d/\">videos 3D para minería</a> para clientes como FLS (FLSmidth). Centraliza y mide tu entrenamiento inmersivo con <a href=\"https://doble3d.cl/servicios/core/\">CORE</a>.</p>',\n'<h2>¿Quieres llevar la capacitación inmersiva industrial a tu operación?</h2>',\n'<p>En Doble 3D Studio diseñamos experiencias inmersivas a medida para minería e industrias de alto riesgo, integradas a las plataformas que ya usas, con soporte postventa perpetuo.</p>',\n'<p>👉 <a href=\"https://wa.me/56958015971\" target=\"_blank\" rel=\"noopener\">Conversemos por WhatsApp</a><br>🌐 <a href=\"https://doble3d.cl/servicios/\">Conoce más</a></p>',\n'<script type=\"application/ld+json\">' + JSON.stringify(faqLd) + '</script>',\n].join('\\n');\n\nconst subt = String(a.subtitulo_imagen || a.focus_keyword).slice(0, 60);\nconst tagTop = String(a.tag_top).slice(0, 32);\nconst tag1 = String(a.tag_1).slice(0, 18);\nconst tag2 = String(a.tag_2).slice(0, 18);\n\nreturn [{ json: {\n  status: STATUS,\n  titulo: a.titulo.trim(),\n  slug: a.slug,\n  metaTitle: a.meta_title.trim(),\n  metaDesc: a.meta_description.trim(),\n  focusKeyword: a.focus_keyword.trim(),\n  excerpt: a.excerpt.trim(),\n  categoria: catId,\n  tagIds,\n  content: a.content.trim() + '\\n' + bloqueCierre,\n  sources: a.fuentes,\n  imageUrl: 'https://doble3d.cl/image-gen.php?titulo=' + encodeURIComponent(a.titulo_imagen) + '&subtitulo=' + encodeURIComponent(subt) + '&tag_top=' + encodeURIComponent(tagTop) + '&tag_1=' + encodeURIComponent(tag1) + '&tag_2=' + encodeURIComponent(tag2),\n  filename: a.slug + '.webp',\n} }];"
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-genimagen001",
      "name": "Generar imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        0
      ],
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      }
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-subirimg0001",
      "name": "Subir imagen a WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://doble3d.cl/wp-json/wp/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic WORDPRESS_APP_PASSWORD_REDACTED"
            },
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $('Ensamblar post').item.json.filename }}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-altimagen001",
      "name": "Alt de la imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://doble3d.cl/wp-json/wp/v2/media/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic WORDPRESS_APP_PASSWORD_REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ alt_text: $('Ensamblar post').item.json.titulo, title: $('Ensamblar post').item.json.titulo }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-crearpost001",
      "name": "Publicar en WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://doble3d.cl/wp-json/wp/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic WORDPRESS_APP_PASSWORD_REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  title: $('Ensamblar post').item.json.titulo,\n  slug: $('Ensamblar post').item.json.slug,\n  status: $('Ensamblar post').item.json.status,\n  content: $('Ensamblar post').item.json.content,\n  excerpt: $('Ensamblar post').item.json.excerpt,\n  categories: [$('Ensamblar post').item.json.categoria],\n  tags: $('Ensamblar post').item.json.tagIds,\n  featured_media: $json.id,\n  meta: {\n    _yoast_wpseo_title: $('Ensamblar post').item.json.metaTitle,\n    _yoast_wpseo_metadesc: $('Ensamblar post').item.json.metaDesc,\n    _yoast_wpseo_focuskw: $('Ensamblar post').item.json.focusKeyword\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-exectrigger1",
      "name": "Ejecución manual (test)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        180
      ],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0101-4000-8000-buscardupl001",
      "name": "Buscar duplicado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://doble3d.cl/wp-json/wp/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic WORDPRESS_APP_PASSWORD_REDACTED"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "per_page",
              "value": "20"
            },
            {
              "name": "status",
              "value": "publish,draft,pending,private"
            },
            {
              "name": "_fields",
              "value": "id,slug,title"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "a1b2c3d4-0102-4000-8000-validcand001",
      "name": "Validar candidato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        0
      ],
      "parameters": {
        "jsCode": "\nconst normalize = value => String(value ?? '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\nconst tokenSet = value => new Set(normalize(value).split('-').filter(Boolean));\nconst similarity = (left, right) => {\n  const a = tokenSet(left); const b = tokenSet(right);\n  const both = [...a].filter(value => b.has(value)).length;\n  const all = new Set([...a, ...b]).size;\n  return all ? both / all : 0;\n};\nconst topicData = $('Elegir tema').item.json;\nconst topicText = normalize(topicData.topic).replace(/-/g, ' ');\nconst allowed = ['realidad virtual','vr','xr','realidad mixta','animacion 3d','scorm','core','capacitacion','mineria','industrial','seguridad','gemelo digital'];\nconst blocked = ['iphone','ipad','macbook','switch 2','cirugia','gaming de consumo','precios de celulares'];\nif (blocked.some(term => topicText.includes(normalize(term).replace(/-/g, ' ')))) throw new Error('OUTSIDE_NICHE: blocked_topic');\nif (!allowed.some(term => topicText.includes(normalize(term).replace(/-/g, ' ')))) throw new Error('OUTSIDE_NICHE: outside_niche');\n\nconst responseItems = $input.all().map(item => item.json);\nconst existingPosts = responseItems.flatMap(item => Array.isArray(item) ? item : (Array.isArray(item.body) ? item.body : [item])).filter(item => item && item.id);\nconst duplicate = existingPosts.find(post => similarity(post.title?.rendered ?? post.title, topicData.topic) >= 0.70);\nif (duplicate) throw new Error('DUPLICATE_TOPIC: ' + duplicate.id);\nreturn [{ json: { ...topicData, existingPosts: existingPosts.map(post => ({ id: post.id, slug: post.slug, title: post.title?.rendered ?? post.title })) } }];"
      }
    },
    {
      "id": "a1b2c3d4-0103-4000-8000-validart0001",
      "name": "Validar artículo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "parameters": {
        "jsCode": "\nconst commercialUrls = [\n  'https://doble3d.cl/servicios/realidad-virtual/',\n  'https://doble3d.cl/servicios/animacion-3d/',\n  'https://doble3d.cl/servicios/core/',\n  'https://doble3d.cl/servicios/gamificacion-scorm/'\n];\nconst required = ['titulo','slug','meta_title','meta_description','focus_keyword','categoria','tags','fuentes','faq','excerpt','content','titulo_imagen','subtitulo_imagen','tag_top','tag_1','tag_2'];\nconst normalize = value => String(value ?? '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\nconst tokens = value => new Set(normalize(value).split('-').filter(Boolean));\nconst similarity = (left, right) => { const a=tokens(left), b=tokens(right); const both=[...a].filter(value=>b.has(value)).length; const all=new Set([...a,...b]).size; return all ? both/all : 0; };\nconst parseResponse = response => {\n  const choice = (response.choices && response.choices[0]) || {};\n  let raw = (choice.message && choice.message.content) || '';\n  raw = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  const start = raw.indexOf('{'); const end = raw.lastIndexOf('}');\n  if (start >= 0 && end > start) raw = raw.slice(start, end + 1);\n  try { return JSON.parse(raw); } catch { throw new Error('INVALID_MODEL_JSON'); }\n};\nconst validate = (article, existingPosts) => {\n  const errors = [];\n  for (const key of required) if (!Object.hasOwn(article, key) || (typeof article[key] === 'string' && !article[key].trim())) errors.push('missing_' + key);\n  const titleLength = String(article.meta_title ?? '').trim().length;\n  const descriptionLength = String(article.meta_description ?? '').trim().length;\n  if (titleLength < 35 || titleLength > 60) errors.push('invalid_meta_title_length');\n  if (descriptionLength < 120 || descriptionLength > 155) errors.push('invalid_meta_description_length');\n  if (!Array.isArray(article.tags) || article.tags.length > 5) errors.push('invalid_tags');\n  if (!Array.isArray(article.faq) || article.faq.length < 3) errors.push('insufficient_faq');\n  const validSources = Array.isArray(article.fuentes) && article.fuentes.some(source => source && /^https:\\/\\//i.test(source.url ?? '') && source.titulo && source.fecha && source.medio);\n  if (!validSources) errors.push('invalid_sources');\n  if (!commercialUrls.some(url => String(article.content ?? '').includes(url))) errors.push('missing_commercial_link');\n  if (!/^[a-z0-9]+(?:-[a-z0-9]+){2,5}$/.test(String(article.slug ?? ''))) errors.push('invalid_slug');\n  if (existingPosts.some(post => normalize(post.slug) === normalize(article.slug) || similarity(post.title, article.titulo) >= 0.70)) errors.push('duplicate_article');\n  return [...new Set(errors)];\n};\nconst article = parseResponse($json);\nconst existingPosts = $('Validar candidato').item.json.existingPosts ?? [];\nconst validationErrors = validate(article, existingPosts);\nif (!validationErrors.length) return [{ json: { article, needsCorrection: false, validationErrors: [] } }];\n\nconst correctionBody = {\n  model: 'deepseek-v4-pro',\n  messages: [\n    { role: 'system', content: 'Corrige el objeto para cumplir todas las reglas. Devuelve únicamente JSON, conserva hechos y fuentes reales, no inventes URLs.' },\n    { role: 'user', content: 'Errores: ' + validationErrors.join(', ') + '\\nObjeto: ' + JSON.stringify(article) }\n  ],\n  response_format: { type: 'json_object' },\n  temperature: 0.2,\n  max_tokens: 12000,\n  thinking: { type: 'disabled' }\n};\nreturn [{ json: { article, needsCorrection: true, validationErrors, correctionBody } }];"
      }
    },
    {
      "id": "a1b2c3d4-0104-4000-8000-ifcorrect001",
      "name": "¿Requiere corrección?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-correction",
              "leftValue": "={{ $json.needsCorrection }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0105-4000-8000-deepcorr0001",
      "name": "DeepSeek (corregir)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OPENAI_API_KEY_REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.correctionBody) }}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "a1b2c3d4-0106-4000-8000-validcorr001",
      "name": "Validar artículo corregido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        -100
      ],
      "parameters": {
        "jsCode": "\nconst commercialUrls = [\n  'https://doble3d.cl/servicios/realidad-virtual/',\n  'https://doble3d.cl/servicios/animacion-3d/',\n  'https://doble3d.cl/servicios/core/',\n  'https://doble3d.cl/servicios/gamificacion-scorm/'\n];\nconst required = ['titulo','slug','meta_title','meta_description','focus_keyword','categoria','tags','fuentes','faq','excerpt','content','titulo_imagen','subtitulo_imagen','tag_top','tag_1','tag_2'];\nconst normalize = value => String(value ?? '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\nconst tokens = value => new Set(normalize(value).split('-').filter(Boolean));\nconst similarity = (left, right) => { const a=tokens(left), b=tokens(right); const both=[...a].filter(value=>b.has(value)).length; const all=new Set([...a,...b]).size; return all ? both/all : 0; };\nconst parseResponse = response => {\n  const choice = (response.choices && response.choices[0]) || {};\n  let raw = (choice.message && choice.message.content) || '';\n  raw = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  const start = raw.indexOf('{'); const end = raw.lastIndexOf('}');\n  if (start >= 0 && end > start) raw = raw.slice(start, end + 1);\n  try { return JSON.parse(raw); } catch { throw new Error('INVALID_MODEL_JSON'); }\n};\nconst validate = (article, existingPosts) => {\n  const errors = [];\n  for (const key of required) if (!Object.hasOwn(article, key) || (typeof article[key] === 'string' && !article[key].trim())) errors.push('missing_' + key);\n  const titleLength = String(article.meta_title ?? '').trim().length;\n  const descriptionLength = String(article.meta_description ?? '').trim().length;\n  if (titleLength < 35 || titleLength > 60) errors.push('invalid_meta_title_length');\n  if (descriptionLength < 120 || descriptionLength > 155) errors.push('invalid_meta_description_length');\n  if (!Array.isArray(article.tags) || article.tags.length > 5) errors.push('invalid_tags');\n  if (!Array.isArray(article.faq) || article.faq.length < 3) errors.push('insufficient_faq');\n  const validSources = Array.isArray(article.fuentes) && article.fuentes.some(source => source && /^https:\\/\\//i.test(source.url ?? '') && source.titulo && source.fecha && source.medio);\n  if (!validSources) errors.push('invalid_sources');\n  if (!commercialUrls.some(url => String(article.content ?? '').includes(url))) errors.push('missing_commercial_link');\n  if (!/^[a-z0-9]+(?:-[a-z0-9]+){2,5}$/.test(String(article.slug ?? ''))) errors.push('invalid_slug');\n  if (existingPosts.some(post => normalize(post.slug) === normalize(article.slug) || similarity(post.title, article.titulo) >= 0.70)) errors.push('duplicate_article');\n  return [...new Set(errors)];\n};\nconst article = parseResponse($json);\nconst existingPosts = $('Validar candidato').item.json.existingPosts ?? [];\nconst validationErrors = validate(article, existingPosts);\nif (validationErrors.length) throw new Error('ARTICLE_INVALID_AFTER_CORRECTION: ' + validationErrors.join(','));\nreturn [{ json: { article, needsCorrection: false, validationErrors: [] } }];"
      }
    },
    {
      "id": "a1b2c3d4-0107-4000-8000-artapprove01",
      "name": "Artículo aprobado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        100
      ],
      "parameters": {
        "jsCode": "return $input.all();"
      }
    },
    {
      "id": "a1b2c3d4-0108-4000-8000-buscarslug01",
      "name": "Buscar slug final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://doble3d.cl/wp-json/wp/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic WORDPRESS_APP_PASSWORD_REDACTED"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "slug",
              "value": "={{ $json.article.slug }}"
            },
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "status",
              "value": "publish,draft,pending,private"
            },
            {
              "name": "_fields",
              "value": "id,slug"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "a1b2c3d4-0109-4000-8000-confirmslug1",
      "name": "Confirmar slug final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ],
      "parameters": {
        "jsCode": "const responseItems = $input.all().map(item => item.json);\nconst matches = responseItems.flatMap(item => Array.isArray(item) ? item : (Array.isArray(item.body) ? item.body : [item])).filter(item => item && item.id);\nif (matches.length) throw new Error('DUPLICATE_SLUG: ' + matches[0].id);\nconst corrected = $('Validar artículo corregido').isExecuted;\nconst source = corrected ? $('Validar artículo corregido').item.json : $('Artículo aprobado').item.json;\nreturn [{ json: source }];"
      }
    }
  ],
  "connections": {
    "Martes y Jueves 11:00": {
      "main": [
        [
          {
            "node": "Elegir tema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecución manual (test)": {
      "main": [
        [
          {
            "node": "Elegir tema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elegir tema": {
      "main": [
        [
          {
            "node": "Buscar duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar duplicado": {
      "main": [
        [
          {
            "node": "Validar candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar candidato": {
      "main": [
        [
          {
            "node": "Noticias RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noticias RSS": {
      "main": [
        [
          {
            "node": "Preparar prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar prompt": {
      "main": [
        [
          {
            "node": "DeepSeek (redactar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek (redactar)": {
      "main": [
        [
          {
            "node": "Validar artículo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar artículo": {
      "main": [
        [
          {
            "node": "¿Requiere corrección?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Requiere corrección?": {
      "main": [
        [
          {
            "node": "DeepSeek (corregir)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Artículo aprobado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek (corregir)": {
      "main": [
        [
          {
            "node": "Validar artículo corregido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar artículo corregido": {
      "main": [
        [
          {
            "node": "Buscar slug final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artículo aprobado": {
      "main": [
        [
          {
            "node": "Buscar slug final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar slug final": {
      "main": [
        [
          {
            "node": "Confirmar slug final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar slug final": {
      "main": [
        [
          {
            "node": "Ensamblar post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensamblar post": {
      "main": [
        [
          {
            "node": "Generar imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar imagen": {
      "main": [
        [
          {
            "node": "Subir imagen a WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir imagen a WP": {
      "main": [
        [
          {
            "node": "Alt de la imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alt de la imagen": {
      "main": [
        [
          {
            "node": "Publicar en WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Santiago"
  },
  "active": false
}
